ipykernel
ipython
ipywidgets
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab-widgets
matplotlib-inline
nbclient
nbconvert
nbformat
notebook
qtconsole
QtPy
requests
